body {
  margin: 0;
  padding: 0;
}

body * {
  font-family: Arial, Helvetica, sans-serif;
}

@media (min-width: 768px) {
  #wd-kambaz .wd-main-content-offset {
    padding-left: 140px !important;
  }
}

.list-group.wd>.list-group-item.active {
  color: black;
  background-color: white;
  border-left: 3px solid black !important;
}

.btn-secondary {
  --bs-btn-color: #000 !important;
  --bs-btn-bg: #c7cdd1 !important;
  --bs-btn-border-color: #c7cdd1 !important;
  --bs-btn-hover-color: #fff !important;
}

.bg-secondary {
  --bs-secondary-rgb: 199, 205, 209;
}

.list-group-item {
  --bs-list-group-border-color: gray;
}

.wd-lesson {
  border-left: 3px solid green !important;
}

.wd-asgn {
  border-left: 5px solid green !important;
  padding-left: 10px;
  border-right: 2px gray solid !important;
  border-bottom: 2px gray solid !important;
}

.wd-asgn-link-font {
  font-weight: bold;
  font-size: 120%;
}

.wd-asgn-modules-text {
  font-size: 100%;
  color: red;
  font-weight: 110%;
}

.wd-asgn-description-text {
  font-size: 100%;
  color: #404040;
  font-weight: 110%;
}

.wd-dashboard-course {
  padding-top: 30;
  padding-bottom: 30;
}

.wd-list-group {
  padding-right: 30px;
}

.wd-course-menu-toggled {
  border-left: 2px solid black !important;
  padding-left: 3px;
}

.wd-course-menu-untoggled {
  border-left: unset !important;
  padding-left: 3px;
}
